<table class="table " *ngIf="products.length">
    
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td [ngStyle]="getFontSize(p)">{{p.productName}}</td>
            <td>{{p.productCode}}</td>
            <td [ngClass]="getPriceLevel(p)">{{p.price}}</td>
            <td>{{p.starRating}}</td>
        </tr>
    </tbody>
</table>
<div class="alert alert-warning" *ngIf="products.length == 0">ไม่มีข้อมูล</div>